#sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding-top: 20px;
    transition: transform 0.3s ease-in-out;

    &.active {
        transform: translateX(0);
    }

    /* Media query for smaller screens (adjust the breakpoint as needed) */
    @media (max-width: 768px) {
        transform: translateX(-100%);
    }

    /* Make the sidebar content take up the remaining vertical space using flexbox */
    display: flex;
    flex-direction: column;
}
  
/* Set the sidebar header to be fixed height (optional) */
.sidebar-header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.user-info {
    position: fixed;
    width: 250px;
    border-top: 1px solid #444;
    padding-top: 20px;
    bottom: 0;
    left: 0;

    .btn{
        width: 100%;
    }
}