#sidebar{
    position: sticky;
    height: 100vh;
    padding-top: 20px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;

    &.active {
        transform: translateX(0);
    }

    li{
        margin-bottom: 8px;
    }

    @media (max-width: 767px) {
        transform: translateX(-100%);

        .list-unstyled{
            margin-bottom: 20px;

        }
    }
}
  
/* Set the sidebar header to be fixed height (optional) */
.sidebar-header {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    @media (max-width: 768px) {
        display: none;
    }
}